fastapi
uvicorn
sqlalchemy
psycopg2-binary
python-dotenv
langchain
langchain-google-genai
langchain-groq
langchain-ollama
langchain-openai
langchain-community
pydantic
langgraph
pandas
pymongo
snowflake-connector-python
snowflake-sqlalchemy
pymysql
cryptography
elasticsearch
neo4j
